body {
background-color: black;
color: white;
margin: 50px 250px
}

h1 {
color: white;
text-align: center;
}

.button {
  border: none;
  color: white;
  width: 100px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 16px 2px;
  transition-duration: 0.5s;
  cursor: ;
  text-align: center;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

.upbutton {
  color: green;
  
}

.upbutton:hover {
  background-color: green;
  color: black;
}

.downbutton {
  color: blue
}

.downbutton:hover {
  background-color: blue;
  color:black;

}

.stopbutton {
  color: red
}

.stopbutton:hover{
  background-color:red;
  color:black;

}

td {
  margin: 2px 2px;
  align: center;
}